$white: #ffffff
$milk: rgba(255, 255, 255, 0.705)
$medium-grey: #d3d3d3

$medium-green: rgba(16, 151, 16, 0.65)
$light-green: rgba(139, 180, 148, 0.26)

$night-blue: rgba(26, 25, 83, 1)

$dark-brown: rgba(31, 37, 4, 1)
$black-brown: rbga(57, 55 ,46, 1)

$sage-green: rgb(69, 133, 90)
$leaf-green: rgba(39, 90, 73, 0.45)
$pine-green: rgba(25, 57, 43, 0.45)
$moss-green: rgba(58, 84, 66, 0.45)
