$white: #ffffff
$milk: rgba(255, 255, 255, 0.85)
$medium-grey: #d3d3d3

$medium-green: rgba(16, 151, 16, 1)
$light-green: rgba(139, 180, 148, 0.26)

$night-blue: rgba(26, 25, 83, 1)

$silver: rgba(137, 144, 128, 1)
$black-brown: rgba(57, 55 ,46, 1)

$leaf-green: rgba(14, 151, 25, 1) 
$blossom: rgba(250, 112, 172, 1)
$yellow: rgba(227, 214, 34, 1)
