@import url("https://fonts.googleapis.com/css?family=Baskervville|Montserrat:300,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: clear;
  border-radius: 0;
}
button:focus {
  border: none;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #1f2404;
}

h1, h2, h3 {
  font-family: "Baskervville", serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

body {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(139, 180, 148, 0.26);
}
body #tree-generator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body #tree-generator-container #canvas {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}
body #tree-generator-container .adjustments-container {
  position: absolute;
  left: calc( 50% - 350px );
  top: 10%;
  min-width: 400px;
  max-height: 500px;
  overflow-y: scroll;
  margin: auto;
  padding: 50px;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 1em;
}
body #tree-generator-container .adjustments-container h1 {
  margin-bottom: 0.5em;
}
body #tree-generator-container .adjustments-container h3 {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}
body #tree-generator-container .adjustments-container label {
  margin-top: 0.25em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}
body #tree-generator-container .adjustments-container button {
  box-sizing: border-box;
  width: 10em;
  padding: 0.5em 2em;
  margin: 0.5em;
  text-transform: capitalize;
  font-size: 1.2em;
  border-radius: 2px;
  color: #1f2404;
  background-color: #ffffff;
  cursor: pointer;
}
body #tree-generator-container .adjustments-container button:hover {
  color: #ffffff;
  background-color: #1f2404;
}
body #tree-generator-container .dirt {
  position: absolute;
  width: 100vw;
  min-height: 5em;
  bottom: 0;
  background-color: #1f2404;
}

/*# sourceMappingURL=main.css.map */
