body 
  box-sizing: border-box
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden

  background-color: rgba(139, 180, 148, 0.658)

  #tree-generator-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    #canvas
      box-sizing: border-box
      width: 100vw
      height: 100vh
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      padding-right: 10em

    .adjustments-container
      position: absolute
      left: 15%
      top: 20%
      
      margin: auto
      padding: 50px
      z-index: 500

      background-color: rgba(255, 255, 255, 0.705)
      border-radius: 1em

      h3 
        margin-bottom: 0.25em
        margin-top: 0.5em

      label
        margin-top: 0.25em 
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between

        text-transform: capitalize
        
      
      @include slider

    .dirt
      position: absolute
      width: 100vw
      min-height: 5em
      bottom: 0
      background-color: black

